.card {
  align-items: center;
  background: #f5f5f5;
  color: #3a3f55;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: center;
}

.favorite-btn {
  background: #3a3f55;
  border: none;
  border-radius: 50%;
  opacity: 0.4;
}

.favorite-btn:hover {
  cursor: pointer;
  opacity: 1.0;
}

.favorite-btn img {
  height: 25px;
  width: 25px;
}

.category-data {
  font-size: 12px;
}
