.header {
  background: #1c1e22;
  color: yellow;
  height: 200px;
  perspective: 400px;
  margin: 0;
  overflow: hidden;
  padding: 30px;
  text-align: center;
}

.crawl-text {
  text-align: center;
  font-size: 40px;
  padding: 10px;
  line-height: 200px;
  min-width: 300px;
  text-shadow: 5px 5px #000000;
}

.movie-title, .movie-release-date {
  font-size: 14px;
}

.project-title {
  color: #ffffff;
  font-size: 30px;
  margin: auto;
  text-align: center;
}

.crawl {
  position: relative;
  top: 99999px;
  transform-origin: 50% 100%;
  animation: crawl 70s linear;
}

@keyframes crawl {
    0% {
      top: 0px;
      transform: rotateX(20deg)  translateZ(0);
  }
    100% {
      top: -6000px;
      transform: rotateX(25deg) translateZ(-2500px);
  }
}
