nav {
  background: #32383e;
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  color: #ffffff;
  display: flex;
  justify-content: center;
  height: 60px;
}

nav button {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 20px;
  width: 25%;
}

nav button:hover {
  background: #A60000;
  cursor: pointer;
}
